.color-title{
  font-family: 'Roboto Condensed', sans-serif;
  color: #1b3764;
}

main{
  min-height: 90vh;
}


.img{
  height: 16rem;
  margin-bottom: 1rem;
}

a:link {
    text-decoration: none;
}

.info-banner{
  background-color: #1b3764;
  color: white;
  line-height: 0.6rem;

}

.content{
  min-height: 100vh;
}

.pad{
  padding: 5rem;
}

.banner-container{
  margin-top: 2rem;
}
